@using TimeLineSchedule.Core.Helper
@model IList<TimeLineSchedule.DataLayer.Entities.ClassData>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مدیریت کلاس ها</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>



<h1>لیست کلاس ها</h1>

<table class="ExcelTable2007">
    <thead>
        <tr>
            <th class="heading">نام گروه</th>
            <th class="heading">روز برگزاری</th>
            <th class="heading">زمان شروع</th>
            <th class="heading">زمان پایان</th>
            <th class="heading">نام استاد</th>
            <th class="heading">شماره کلاس</th>
            <th class="heading">وضعیت تشکیل</th>
            <th class="heading">نام درس</th>
            <th class="heading">تاریخ عملیات</th>
        </tr>
    </thead>
    <tbody>
            <form asp-action="Create" asp-area="UserPanel" asp-controller="ManageClass" method="post">
                

            <tr>
                <td><input type="text" name="Group" /></td>
                <td>
                    <select name="DayOfClass">
                        <option value="Saturday">شنبه</option>
                        <option value="Sunday">یکشنبه</option>
                        <option value="Monday">دوشنبه</option>
                        <option value="Tuesday">سه شنبه</option>
                        <option value="Wednesday">چهارشنبه</option>
                        <option value="Thursday">پنجشنبه</option>
                        <option value="Friday">جمعه</option>
                    </select>
                </td>
                <td><input type="time" name="ClassStart" /></td>
                <td><input type="time" name="ClassEnd" /></td>
                <td><input type="text" name="TeacherName" /></td>
                <td><input type="text" name="ClassNum" /></td>
                <td>
                    <select name="ClassStatus">
                        <option value="true">تشکیل</option>
                        <option value="false">لغو</option>
                    </select>
                </td>
                <td><input type="text" name="ClassName" /></td>
                <td><input type="datetime" name="ScheduledDate" /></td>
                <td><input class="create-class" style="width:100%;" type="submit" formaction="/UserPanel/ManageClass/Create" value="ایجاد" /></td>
            </tr>
            </form>
        @foreach (var classData in Model)
        {
                    <form  asp-action="Update" asp-area="UserPanel" asp-controller="ManageClass" method="post">
                        <input type="hidden" asp-for="Id" value="@classData.Id" />
                    <input type="hidden" id="updateFormHiddenDateInput" name="chosenDate" />
                         <tr>
                <td><input asp-for="Group" value="@classData.Group" name="Group" readonly /></td>
                <td>
                    <input asp-for="DayOfClass" value="@classData.DayOfClass" name="DayOfClass" hidden />
                    <input value="@ValueConverter.ConvertToPersianDayOfWeek(classData.DayOfClass.Value)" disabled />
                </td>

                <td><input asp-for="ClassStart" value="@classData.ClassStart" name="ClassStart" readonly /></td>
                <td><input asp-for="ClassEnd" value="@classData.ClassEnd" name="ClassEnd" readonly /></td>
                <td><input asp-for="TeacherName" value="@classData.TeacherName" name="TeacherName" readonly /></td>
                <td><input type="text" asp-for="ClassNum" value="@classData.ClassNum" name="ClassNum" /></td>
                <td>
                    <select name="ClassStatus" asp-for="ClassStatus">
                        <option value="true" @(classData.ClassStatus == true ? "selected" : "")>تشکیل</option>
                        <option value="false" @(classData.ClassStatus == false ? "selected" : "")>لغو
                            </option>
                            </select>
                </td>
                <td><input asp-for="ClassName" value="@classData.ClassName" name="ClassName" readonly /></td>
                    <td><input asp-for="ClassName" name="ScheduledDate" /></td>

                    <td><input type="submit" class="update-class" formaction="UserPanel/ManageClass/Update/@classData.Id" value="به روز رسانی" /></td>
                        
            </tr>
            </form>
           
          
        }
    </tbody>
</table>
</body>
</html>

        
   