@using TimeLineSchedule.Core.Helper
@using TimeLineSchedule.DataLayer.Entities
@model IList<ClassData>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مدیریت کلاس ها</title>   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/mddatatimepicker/mds.bs.datetimepicker.style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mddatatimepicker/mds.bs.datetimepicker.js"></script>
    <script src="~/js/Admin.js"></script>
   
</head>
<body>


<h1>لیست تمامی کلاس ها</h1>
<br />
<div style="display:flex;">

        <span>کلاس های جبرانی</span>
        <div style="background-color:#D1FFB5;width:10px;height:10px;margin-right:5px; " class="align-self-center"></div>
        <span style="margin-right:10px;">کلاس های عادی</span>
        <div style="background-color:#E4ECF7;width:10px;height:10px;margin-right:5px;" class="align-self-center"></div>
</div>
<br />
<table class="ExcelTable2007">
    <thead>
        <tr class="row">
                <th class="heading col-1">کد درس</th>
                <th class="heading col-1">کد ارائه</th>
                <th class="heading col-1">نام گروه</th>
                <th class="heading col-1">روز برگزاری</th>
                <th class="heading col-1">زمان شروع</th>
                <th class="heading col-1">زمان پایان</th>
                <th class="heading col-1">نام استاد</th>
                <th class="heading col-1">مکان کلاس</th>
                <th class="heading col-1">وضعیت</th>
                <th class="heading col-1">نام درس</th>
                <th class="heading col-1">تاریخ عملیات</th>
                <th class="heading col-1">عملیات</th>
        </tr>
    </thead>
    <tbody>
            <form method="post">
                

            <tr class="row">
                <td class="col-1">
                    <input type="number" name="CourseId" required oninvalid="this.setCustomValidity('لطفا کد درس را وارد کنید')" oninput="this.setCustomValidity('')" />
                </td>
                <td class="col-1">
                    <input type="number" name="ClassCode" required oninvalid="this.setCustomValidity('لطفا کد کلاس را وارد کنید')" oninput="this.setCustomValidity('')"/>
                </td>
               

                <td class="col-1">
                    <input type="text" name="Group" required oninvalid="this.setCustomValidity('لطفا رشته درس را وارد کنید')" oninput="this.setCustomValidity('')" />
                </td>
                

                <td class="col-1">
                    <select name="DayOfClass" id="dayOfWeekSelector" required oninvalid="this.setCustomValidity('لطفا روز کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                        <option value="Saturday">شنبه</option>
                        <option value="Sunday">یکشنبه</option>
                        <option value="Monday">دوشنبه</option>
                        <option value="Tuesday">سه شنبه</option>
                        <option value="Wednesday">چهارشنبه</option>
                        <option value="Thursday">پنجشنبه</option>
                        <option value="Friday">جمعه</option>
                    </select>
                </td>
                <td class="col-1">
                    <input type="time" name="ClassStart" class="class-start" required oninvalid="this.setCustomValidity('لطفا ساعت شروع کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />
                </td>
             
                <td class="col-1">
                    <input type="time" name="ClassEnd" class="class-end" required oninvalid="this.setCustomValidity('لطفا ساعت پایان کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />
                </td>               
                <td class="col-1">
                    <input type="text" name="TeacherName" required oninvalid="this.setCustomValidity('لطفا نام استاد را وارد کنید')" oninput="this.setCustomValidity('')" />

                </td>
                <td class="col-1">
                    <input type="text" name="ClassNum" required oninvalid="this.setCustomValidity('لطفا مکان برگزاری کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />

                </td>
                <td class="col-1" style="display:flex;">
                    <select name="ClassStatus" required oninvalid="this.setCustomValidity('لطفا وضعیت تشکیل کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                        <option value="true">تشکیل</option>
                        <option value="false">لغو</option>
                    </select>
                    <select name="IsNew" asp-for="IsNew" required oninvalid="this.setCustomValidity('لطفا نوع کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                        <option value="true">جبرانی</option>
                        <option value="false">
                            عادی
                        </option>
                    </select>
                </td>
                <td class="col-1">
                    <input type="text" name="ClassName" required oninvalid="this.setCustomValidity('لطفا نام کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />

                </td>
                <td class="col-1">
                    <div class="input-group mb-3">
                        <span id="dtp1" class="input-group-text cursor-pointer" data-mds-dtp-guid="b825fe77-b23c-4b19-bfd5-78c40decb38d" data-bs-original-title="" title="">📅</span>
                        <input type="text" id="scheduledDateInput" name="scheduledDate" placeholder="تاریخ" data-name="dtp1-text" class="form-control" required oninvalid="this.setCustomValidity('لطفا تاریخ انجام عملیات را وارد کنید')" oninput="this.setCustomValidity('')">
                    </div>

                </td>

                <td class="col-1">
                    <input class="create-class btn" type="submit" formaction="/UserPanel/ManageClass/CreateUpdate" value="ایجاد" />
                    
                </td>
               
            </tr>
            </form>

            
        @foreach (var classData in Model)
        {
                    <form method="post">
                    
                        <input type="hidden" asp-for="Id" value="@classData.Id" />
                <tr class="row">
                    <td class="col-1">
                        <input type="number" name="CourseId" value="@classData.CourseId" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا کد درس را وارد کنید')" oninput="this.setCustomValidity('')" />
                    </td>
                    <td class="col-1">
                        <input type="number" name="ClassCode" value="@classData.ClassCode" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا کد کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />
                    </td>
                    <td class="col-1">
                        <input asp-for="Group" value="@classData.Group" name="Group" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا رشته درس را وارد کنید')" oninput="this.setCustomValidity('')" />
                    </td>
                    <td class="col-1">
    @{
        DayOfWeek dayOfWeekValue;
        if (Enum.TryParse(classData.DayOfClass.ToString(), out dayOfWeekValue))
        {
            string selectedPersianDay = ValueConverter.ConvertToPersianDayOfWeek(dayOfWeekValue);


                 <select name="DayOfClass" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا روز برگزاری کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                <option value="Saturday" @(selectedPersianDay == "شنبه" ? "selected" : "")>شنبه</option>
                <option value="Sunday" @(selectedPersianDay == "یک‌شنبه" ? "selected" : "")>یک‌شنبه</option>
                <option value="Monday" @(selectedPersianDay == "دوشنبه" ? "selected" : "")>دوشنبه</option>
                <option value="Tuesday" @(selectedPersianDay == "سه‌شنبه" ? "selected" : "")>سه‌شنبه</option>
                <option value="Wednesday" @(selectedPersianDay == "چهارشنبه" ? "selected" : "")>چهارشنبه</option>
                <option value="Thursday" @(selectedPersianDay == "پنج‌شنبه" ? "selected" : "")>پنج‌شنبه</option>
                <option value="Friday" @(selectedPersianDay == "جمعه" ? "selected" : "")>جمعه</option>
            </select>
    }
    }
</td>



                    <td class="col-1">
                        <input asp-for="ClassStart" class="class-start" value="@classData.ClassStart" name="ClassStart" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا ساعت شروع کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />

                    </td>
                    <td class="col-1">
                        <input asp-for="ClassEnd" class="class-end" value="@classData.ClassEnd" name="ClassEnd" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا ساعت پایان کلاس را وارد کنید')" oninput="this.setCustomValidity('')"/>

                    </td>
                    <td class="col-1">
                        <input asp-for="TeacherName" value="@classData.TeacherName" name="TeacherName" required oninvalid="this.setCustomValidity('لطفا نام استاد کلاس را وارد کنید')" oninput="this.setCustomValidity('')" style="background-color: @GetClassInputColor(classData);" />
                    </td>
                    <td class="col-1">
                        <input type="text" asp-for="ClassNum" value="@classData.ClassNum" name="ClassNum" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا مکان برگزاری کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />
                    </td>
                    <td class="col-1" style="display:flex;">
                        <select name="ClassStatus" asp-for="ClassStatus" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا وضعیت تشکیل کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                        <option value="true" @(classData.ClassStatus == true ? "selected" : "")>تشکیل</option>
                        <option value="false" @(classData.ClassStatus == false ? "selected" : "")>لغو
                            </option>
                            </select>
                        <select name="IsNew" asp-for="IsNew" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا نوع کلاس را وارد کنید')" oninput="this.setCustomValidity('')">
                            <option value="true" @(classData.IsNew == true ? "selected" : "")>جبرانی</option>
                            <option value="false" @(classData.IsNew == false || classData.IsNew==null ? "selected" : "")>
                                عادی
                            </option>
                        </select>
                </td>
                    <td class="col-1">
                        <input asp-for="ClassName" value="@classData.ClassName" name="ClassName" style="background-color: @GetClassInputColor(classData);" required oninvalid="this.setCustomValidity('لطفا نام کلاس را وارد کنید')" oninput="this.setCustomValidity('')" />
                    </td>
                    <td class="col-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text cursor-pointer dtp-trigger" data-date-target="dtp-text-@classData.Id" title="">📅</span>
                            <input type="text" name="scheduledDate" placeholder="تاریخ" data-name="dtp-text-@classData.Id" class="form-control">
                        </div>

                    </td>
                    <td style="display:flex;" class="col-1" style="background-color: @GetClassInputColor(classData);">
                    <input type="submit" style="width:50%;" class="update-class btn" formaction="UserPanel/ManageClass/CreateUpdate/@classData.Id" value="ویرایش" />
                    
                         
                        <input type="button" class="btn" style="width:50%;" onclick="btnDeleteClicked('@classData.Id')" value="حذف" />
                  </td>
                        
            </tr>
            </form>
           
          
        }
    </tbody>
</table>
<!--Modal-->
       
<div class="modal" style="width:auto;height:auto;top:50%;left:50%;background-color:azure;">
    <div class="modal-header">
        <p>آیا مطمئن هستید میخواهید این کلاس را حذف کنید؟</p>
    </div>
    <div class="modal-body">
    <form method="post" action="UserPanel/ManageClass/Delete" id="ClassesModalForm">
        <input type="hidden" id="SelectedClassId" name="Id" value="" />
        <button class="btn btn-success" type="submit">بله</button>
        <button type="button" class="btn btn-danger cancelModalbtn">خیر</button>
    </form>
    </div>
</div>
        
</body>

</html>
<script type="text/javascript">
    function btnDeleteClicked(Id) {
        debugger
        const modal = document.querySelector('.modal');
        modal.style.display = 'block';

        const closeButtons = document.querySelectorAll('.cancelModalbtn,.modal-body button, .modal-header, .modal-background');
        closeButtons.forEach(button => {
            button.addEventListener('click', () => {
                modal.style.display = 'none';
            });
        });
        var hiddenClass = document.getElementById("SelectedClassId");
        hiddenClass.value = Id;
    }
</script>
@functions {
    string GetClassInputColor(ClassData classData)
    {
        if (classData.IsNew == false)
        {
            return "#E4ECF7";
        }
        else if(classData.IsNew==true)
        {
            return "#D1FFB5";
        }
        else
        {
            return "#E4ECF7";
        }
    }
}

        
   