@using TimeLineSchedule.Core.Helper
@model IList<TimeLineSchedule.DataLayer.Entities.ClassData>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مدیریت کلاس ها</title>   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/mddatatimepicker/mds.bs.datetimepicker.style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mddatatimepicker/mds.bs.datetimepicker.js"></script>
    <script src="~/js/Admin.js"></script>
</head>
<body>



<h1>لیست کلاس ها</h1>

<table class="ExcelTable2007">
    <thead>
        <tr class="row">
                <th class="heading col-1">نام گروه</th>
                <th class="heading col-1">روز برگزاری</th>
                <th class="heading col-1">زمان شروع</th>
                <th class="heading col-1">زمان پایان</th>
                <th class="heading col-1">نام استاد</th>
                <th class="heading col-1">شماره کلاس</th>
                <th class="heading col-1">وضعیت تشکیل</th>
                <th class="heading col-1">نام درس</th>
                <th class="heading col-2">تاریخ عملیات</th>
                <th class="heading col-1">عملیات</th>
        </tr>
    </thead>
    <tbody>
            <form asp-action="Create" asp-area="UserPanel" asp-controller="ManageClass" method="post">
                

            <tr class="row">
                <td class="col-1"><input type="text" name="Group" /></td>
                <td class="col-1">
                    <select name="DayOfClass">
                        <option value="Saturday">شنبه</option>
                        <option value="Sunday">یکشنبه</option>
                        <option value="Monday">دوشنبه</option>
                        <option value="Tuesday">سه شنبه</option>
                        <option value="Wednesday">چهارشنبه</option>
                        <option value="Thursday">پنجشنبه</option>
                        <option value="Friday">جمعه</option>
                    </select>
                </td>
                <td class="col-1"><input type="time" name="ClassStart" /></td>
                <td class="col-1"><input type="time" name="ClassEnd" /></td>
                <td class="col-1"><input type="text" name="TeacherName" /></td>
                <td class="col-1"><input type="text" name="ClassNum" /></td>
                <td class="col-1">
                    <select name="ClassStatus">
                        <option value="true">تشکیل</option>
                        <option value="false">لغو</option>
                    </select>
                </td>
                <td class="col-1"><input type="text" name="ClassName" /></td>
                <td class="col-2">
                    <div class="input-group mb-3">
                        <span id="dtp1" class="input-group-text cursor-pointer" data-mds-dtp-guid="b825fe77-b23c-4b19-bfd5-78c40decb38d" data-bs-original-title="" title="">📅</span>
                        <input type="text" name="scheduledDate" placeholder="تاریخ" data-name="dtp1-text" class="form-control">
                    </div>

                </td>

                <td class="col-1"><input class="create-class" type="submit" formaction="/UserPanel/ManageClass/Create" value="ایجاد" /></td>
            </tr>
            </form>
        @foreach (var classData in Model)
        {
                    <form  asp-action="Update" asp-area="UserPanel" asp-controller="ManageClass" method="post">
                        <input type="hidden" asp-for="Id" value="@classData.Id" />
                <tr class="row">
                    <td class="col-1"><input asp-for="Group" value="@classData.Group" name="Group" readonly /></td>
                    <td class="col-1">
                    <input asp-for="DayOfClass" value="@classData.DayOfClass" name="DayOfClass" hidden />
                    <input value="@ValueConverter.ConvertToPersianDayOfWeek(classData.DayOfClass.Value)" disabled />
                </td>

                    <td class="col-1"><input asp-for="ClassStart" value="@classData.ClassStart" name="ClassStart" readonly /></td>
                    <td class="col-1"><input asp-for="ClassEnd" value="@classData.ClassEnd" name="ClassEnd" readonly /></td>
                    <td class="col-1"><input asp-for="TeacherName" value="@classData.TeacherName" name="TeacherName" readonly /></td>
                    <td class="col-1"><input type="text" asp-for="ClassNum" value="@classData.ClassNum" name="ClassNum" /></td>
                    <td class="col-1">
                    <select name="ClassStatus" asp-for="ClassStatus">
                        <option value="true" @(classData.ClassStatus == true ? "selected" : "")>تشکیل</option>
                        <option value="false" @(classData.ClassStatus == false ? "selected" : "")>لغو
                            </option>
                            </select>
                </td>
                    <td class="col-1"><input asp-for="ClassName" value="@classData.ClassName" name="ClassName" readonly /></td>
                    <td class="col-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text cursor-pointer dtp-trigger" data-date-target="dtp-text-@classData.Id" title="">📅</span>
                            <input type="text" name="scheduledDate" placeholder="تاریخ" data-name="dtp-text-@classData.Id" class="form-control">
                        </div>
                    </td>
                    <td class="col-1"><input type="submit" class="update-class" formaction="UserPanel/ManageClass/Update/@classData.Id" value="به روز رسانی" /></td>
                        
            </tr>
            </form>
           
          
        }
    </tbody>
</table>
</body>
</html>

        
   