@{
    Layout = "_Layout";
    ViewBag.Title = "تنظیمات وب سایت";
    @model IList<TimeLineSchedule.DataLayer.Entities.SettingsModel>
}
<table>
    <tr class="row">
<th class="col-3">زمان رفرش شدن سایت(دقیقه)</th>
<th class="col-3">زمان جا به جا شدن باکس ها (ثانیه)</th>
    </tr>
@foreach (var settingClass in Model)
{
        <form id="settingsForm" asp-action="Update" asp-area="UserPanel" asp-controller="Home" method="post">
        <input type="hidden" asp-for="Id" value="@settingClass.Id" />
        <tr class="row">
            <td class="col-3">
                <input class="input-group" type="number" name="RefreshTime" asp-for="RefreshTime" value="@settingClass.RefreshTime"/>
            </td>
            <td class="col-3">
                <input type="number" class="input-group" name="ChangeBoxTime" asp-for="ChangeBoxTime" value="@settingClass.ChangeBoxTime" />
            </td>
            <td class="col-3"><input type="submit" class="update-class input-group btn btn-outline-secondary" formaction="UserPanel/Home/Update/@settingClass.Id" value="به روز رسانی" /></td>

        </tr>
    </form>

    
}
</table>




<form action="/UserPanel/Home/ImportExcel" asp-area="UserPanel" asp-controller="Home" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="fileUpload">انتخاب فایل اکسل برای وارد کردن :</label>
        <input type="file" name="file" accept=".xlsx" id="fileUpload" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary w-100">بارگذاری</button>
</form>
<br />

<form action="/UserPanel/Home/ClearTable" asp-area="UserPanel" asp-controller="Home" method="post">

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary w-100">ریست کردن جدول دیتابیس</button>
    </form>
    <script src="~/js/site.js"></script>